.user-signin {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1597633425046-08f5110420b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 65%;
}

.user-signin div {
    margin-bottom: 15px;
}

.user-signin h3 {
    font-size: 16px;
    margin-bottom: 5px;
    
}
.user-signin h4 {
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
}
.user-signin input[type="text"],
.user-signin input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.user-signin input[type="text"]:focus,
.user-signin input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.user-signin input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.user-signin input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-login:hover, .btn-sigin:hover{
    background-color: #ff8fa3;
}

